.App {
  text-align: center;
}
input {
  background-color: bisque;
}
select {
  background-color: bisque;
}


table, th, td {
  border: 1px solid hsl(0, 100%, 37%);
  margin-left: auto;
  margin-right: auto;
}